html {
  font-size: 14px; }

.main {
  min-height: calc(100vh - (49px + 49px + 21px + 21px)); }

@media (max-width: 576px) {
  .sm-no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .sm-no-gutters > .col,
    .sm-no-gutters > [class*="col-"] {
      padding-right: 0;
      padding-left: 0; } }

